<div class='container'>
   <mat-card color="warn">
        <div class="aboutHomeTitle">
            <p>O fakultetu:</p>
            <hr/>
        </div>
        <div class='aboutHomeText'>
            <p>
                Razvoj Elektrotehničkog fakulteta u bliskoj je vezi sa istorijom univerzitetskog obrazovanja u Srbiji.
                Prvo visokoškolsko predavanje iz oblasti elektrotehnike održano je davne 1894. Profesor Stevan Marković 
                bio je prvi osnivač elektrotehničke katedre Inženjerskog odeljenja Velike škole u Beogradu. Samo četiri godine
                kasnije, profesor Marković je osnovao elektroinženjersku laboratoriju. Od tada, elektrotehničke teme su se izučavale
                na Velikoj školi, a zatim i na beogradskom Univerzitetu koji je iz nje nastao 1905. Prve diplome dodeljenje su 1922. godine.
            </p>
            <br/>
            <p>
                Obrazovanje elektroinženjera bitno je prošireno posle reorganizacije Inženjerskog odeljenja 1935. Mašinski odsek je postao
                Mašinsko-elektrotehnički odsek, na kom su do početka 1937. oformljena četiri mera - mašinski, aeronautički, energetski i 
                telekomunikacijski. Zbog nedostatka laboratorijske opreme, otvaranje četvrtog smera (telekomunikacije) je odlagano
                sve do kraja Drugog svetskog rata. Godine 1946. ustanovljeno je elektrotehničko odeljenje, koje je 1948. preraslo u Elektrotehnički fakultet,
                sa smerovima Energetika i telekomunikacije. 1955. godine osvnovan je novi smer - Fizička elektronika.
            </p>
        </div>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Prijava" color="warn" >
                <div class="example-small-box mat-elevation-z4">
                   <app-prijava></app-prijava>
                </div>
            </mat-tab>
            <mat-tab label="Registracija" color="warn">
                <div class="example-small-box mat-elevation-z4">
                    <app-registracija></app-registracija>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>