<app-main-menu></app-main-menu>
<app-carousel></app-carousel>
<div class='container'>
    <mat-card class='breadCrumbs'>
        <span routerLink="/">Početna/</span>
        <span>Kontakt/</span>
    </mat-card>
    <mat-card>
        <p class='predmetiNaslov'>Kontakt</p>
        <hr>
        <mat-grid-list cols="4" rowHeight="2:2">
            <mat-grid-tile [colspan]='2' [rowspan]='1'>
                <table class='table zaposlenTabela table-dark table-hover'>
                    <tr>
                        <th>Dekanat</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>(011)324-8464</td>
                    </tr>
                    <tr>
                        <td>(011) 324-8681</td>
                    </tr>
                    <tr>
                        <td>dekanat@etf.bg.ac.rs</td>
                    </tr>
                </table>
            </mat-grid-tile>
            <mat-grid-tile [colspan]='2' [rowspan]='1'>
                <table class='table zaposlenTabela table-dark table-hover'>
                    <tr>
                        <th>Studentski odsek</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>Dragana Trenevski</td>
                    </tr>
                    <tr>
                        <td>(011) 3226-760</td>
                    </tr>
                    <tr>
                        <td>stud_sluzba@etf.bg.ac.rs</td>
                    </tr>
                </table>
            </mat-grid-tile>
            <mat-grid-tile [colspan]='2' [rowspan]='1'>
                <table class='table zaposlenTabela table-dark table-hover'>
                    <tr>
                        <th>Opšti odsek</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>Miloš Nalović</td>
                    </tr>
                    <tr>
                        <td>(011) 3226-992</td>
                    </tr>
                    <tr>
                        <td>opsta_sluzba@etf.bg.ac.rs</td>
                    </tr>
                </table>
            </mat-grid-tile>
            <mat-grid-tile [colspan]='2' [rowspan]='1'>
                <table class='table zaposlenTabela table-dark table-hover'>
                    <tr>
                        <th>Računovodstvo</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>Mirjana Vlajković</td>
                    </tr>
                    <tr>
                        <td>(011) 3370-146</td>
                    </tr>
                    <tr>
                        <td>(011) 3370-077</td>
                    </tr>
                </table>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</div>
